 //覆盖一些element-ui样式 覆盖css样式可在这里添加
.el-upload
  input[type="file"]
    display none !important



.el-upload__input
  display none


//暂时性解决diolag 问题 https://github.com/ElemeFE/element/issues/2461
.el-dialog
  transform none
  left 0
  position relative
  margin 0 auto


//element ui upload
.upload-container
  .el-upload
    width 100%
    .el-upload-dragger
      width 100%
      height 200px



.el-icon-arrow-down
  margin-right 5px
  margin-top -5px


.el-menu--horizontal.el-menu--dark .el-submenu .el-menu-item.is-active,.el-menu-item.is-active
  color #fff
  background-color #32aab7
.el-menu--dark .el-menu-item:hover, .el-menu--dark .el-submenu__title:hover
  background-color #37c3d2
  color #fff

.el-menu--horizontal.el-menu--dark .el-submenu .el-menu-item.is-active,.el-menu-item.is-active:before
  content ""
  width 4px
  height 100%
  background #37c3d2
  position absolute
  left 0
.el-button
  transition all .5s
.el-checkbox__input.is-checked .el-checkbox__inner
  background-color #485b7b
  border-color #485b7b
.el-checkbox__inner:hover
  border-color #485b7b
.el-checkbox__input.is-focus .el-checkbox__inner,.el-input__inner:focus
  border-color #485b7b
.el-button--primary:focus, .el-button--primary:hover
  background-color #3e5171
.el-checkbox__inner
  width 17px
  height 17px
