
.el-button
  transition all .5s
.el-checkbox__input.is-checked .el-checkbox__inner
  background-color #485b7b
  border-color #485b7b
.el-checkbox__inner:hover
  border-color #485b7b
.el-checkbox__input.is-focus .el-checkbox__inner,.el-input__inner:focus
  border-color #485b7b
.el-button--primary:focus, .el-button--primary:hover
  background-color #3e5171
.el-checkbox__inner
  width 17px
  height 17px
